<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="over-head group">
    <nav class="nav-bar">
      <ul class="over-head-left">
        <% if signed_in? %>
          <li class="board-options top-buttons">Boards</li>
          <li>Search</li>
        <% else %>
        <% end %>
      </ul>
      <ul class="over-head-right top-buttons">
        <% if signed_in? %>
          <li><%= current_user.username %></li>
        <% else %>
        <% end %>
      </ul>
      <div class="over-head-logo">
        Mello
      </div>
    </nav>
  </header>
<% if signed_in? %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>

<br>

<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>
